<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791599398715-kc7biii7dkmk82l829k6fu889lncpbri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791599398715-kc7biii7dkmk82l829k6fu889lncpbri</string>
	<key>API_KEY</key>
	<string>AIzaSyAyF4yo5M3KYrAZP27akbFT0RvY1Q3pqe4</string>
	<key>GCM_SENDER_ID</key>
	<string>791599398715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mapping</string>
	<key>PROJECT_ID</key>
	<string>mapping-bc664</string>
	<key>STORAGE_BUCKET</key>
	<string>mapping-bc664.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791599398715:ios:39af98df9ed11f531d811e</string>
</dict>
</plist>